---
import Curriculum from '../components/Curriculum.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Curriculum</title>
    <link rel="stylesheet" href="/src/styles/cv.css" />
  </head>
  <body class="dark:bg-zinc-900 dark:text-white bg-white text-black">
    <Curriculum />
  </body>
</html>